.campo-busca{
    width: 75%;
    height: 79px;
    font-size: 25px;
    margin-left: -9px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 9px;
    text-indent: 5px;
    border: solid 2px black;
    border-radius: 19px;
    text-transform: uppercase;
}