.grid-calendario{
    display: grid;
    grid-template-columns: repeat(7, 130px);
    gap: 32px;
    margin-left: 10px;

    .dia-antigo{
        background-color: rgb(7, 23, 44) !important;
    }

    .dia-futuro{
        background-color: rgb(7, 23, 44) !important;
    }

    .dia-calendario{
        display: flex;
        color: white;
        font-size: 48px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
        align-items: center;
        background-color: rgb(38, 78, 129);
        width: 130px;
        height: 130px;
        border: solid 1px black;
        border-radius: 19px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        text-decoration: dashed !important;
    }

    .dia-calendario:hover{
        background-color: rgb(84, 131, 194);
    }
}

.toolbar-calendario{
    display: grid;
    grid-template-columns: repeat(7, 130px);
    gap: 32px;
    margin-left: -19px;

    div{
        width: 20px;
    }

    button{
        width: 200px;
        height: 58px;
        padding: 8px;
        border: solid 2px black;
        border-radius: 16px;
        margin-top: 0px;
        margin-bottom: 25px;
        cursor: pointer;
        background-color: rgb(35, 121, 35);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
}