<div class="toolbar-calendario">

  <button mat-button mat-icon-button mat-flat-button color="accent" mat-fab extended>
    <mat-icon>arrow_back</mat-icon>
    Anterior
  </button>

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>

  <button mat-button mat-icon-button mat-flat-button color="accent" mat-fab extended>
    <mat-icon>arrow_forward</mat-icon>
    Próximo
  </button>

</div>

<div class="grid-calendario">

    <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario dia-antigo" *ngFor="let dia of diasAnterior">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

    <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario" *ngFor="let dia of dias" (click)="openEventoDialog()">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

     <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario dia-futuro" *ngFor="let dia of diasFuturos">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

</div>