<div class="toolbar-calendario">

  <button mat-button>
    Mes anterior
  </button>

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>

  <button mat-button>
    Próximo anterior
  </button>

</div>

<div class="grid-calendario">

    <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario dia-antigo" *ngFor="let dia of diasAnterior">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

    <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario" *ngFor="let dia of dias" (click)="openEventoDialog()">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

     <!-- Iteração com *ngFor -->
    <div class="dia dia-calendario dia-futuro" *ngFor="let dia of diasFuturos">
      {{ dia < 10 ? '0' + dia : dia }}
    </div>

</div>